<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mpdemo.mapper.StuthymeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.mpdemo.pojo.Stuthyme">
        <result column="id_stu" property="idStu" />
        <result column="name_stu" property="nameStu" />
        <result column="gender_stu" property="genderStu" />
        <result column="class_number_stu" property="classNumberStu" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id_stu, name_stu, gender_stu, class_number_stu
    </sql>
    <select id="queryBatch" resultType="com.example.mpdemo.pojo.Stuthyme">
        SELECT id_stu, name_stu, gender_stu, class_number_stu
        FROM stuthyme
        WHERE id_stu IN
        <foreach item="item" collection="ids" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

</mapper>
